@charset "utf-8";
/* CSS Document */

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif !important;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  /* font-family: "Roboto", sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul li {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
a,
button {
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  box-shadow: 0px 0 0 #966b29 inset;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

.header_all {
  position: relative;
}
.header_all .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.nav {
  margin-left: auto;
}
.topnavscrle .navbar {
  padding: 16px 16px 14px;
  background: #fff;
}
.topnavscrle .navbar .navbar-brand {
  margin: 0;
  padding: 0;
}
.topnavscrle .navbar .navbar-nav li {
  margin: 0 15px;
}
.topnavscrle .navbar .navbar-nav li .nav-link {
  text-transform: uppercase;
  /* font-size: 16px; */
  /* font-weight: 400; */
  color: #333;
  text-decoration: none;
}
.topnavscrle .navbar .navbar-nav li .nav-link:hover,
.topnavscrle .navbar .navbar-nav li .nav-link:focus {
  color: #05a401;
}
.topnavscrle .navbar .navbar-nav li:last-child {
  margin-right: 0;
}
.topnavscrle .navbar .navbar-nav .btnlist {
  margin: -9px 0 0 12px;
}
.topnavscrle .navbar .navbar-nav .btnlist a {
  font-size: 18px;
  color: #05a401;
  border: solid 1px #05a401;
  background: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 14px 35px 11px;
  border-radius: 50px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}
.topnavscrle .navbar .navbar-nav .btnlist a:hover {
  background: #05a401;
  color: #fff;
}

/* ABOUT US */
.about-us {
  box-shadow: 0 2px 20px #ebebeb;
  padding: 20px;
}
.terms {
  box-shadow: 0 2px 20px #ebebeb;
  padding: 20px;
}
@media (max-width: 500px) {
  .about-us h2 {
    font-size: 2rem;
  }
  .about-us p {
    font-size: 14px;
  }
}
/*--------sign in---------*/
#forgtmodel .form-group {
  margin-bottom: 24px;
}
#forgtmodel .form-group .form-control {
  height: 60px;
  border-radius: 8px;
  border: solid 1px #898989;
  width: 100%;
}
#forgtmodel .btn {
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  background: #05a401;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 400;
  border: solid 1px #05a401;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
}
#forgtmodel .btn:hover {
  background: none;
  color: #05a401;
}
#forgtmodel .modal-body {
  padding: 80px 24px;
}
#forgtmodel .modal-header h5 {
  font-size: 24px;
  text-transform: uppercase;
  color: #333;
}
#forgtmodel .modal-header .close {
  border: solid 1px #898989;
  border-radius: 100px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  outline: none;
  font-size: 20px;
  padding: 0;
  margin: 8px 1rem -1rem auto;
  color: #333;
  opacity: 9;
}
#forgtmodel .modal {
  z-index: 9999;
}

.signinmidle_scn {
  padding: 50px 0 120px;
}
.welcmebckall {
  box-shadow: 0 2px 20px #ebebeb;
  background: #def5e8;
}
.welcmebckall .welcmtxt {
  display: table;
  vertical-align: middle;
  height: 100%;
  text-align: center;
  padding: 0px 50px;
}
.welcmebckall .welcmtxt1 {
  display: table-cell;
  /* vertical-align: middle; */
}
.welcmtxt h1 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}
.welcmtxt p {
  margin: 15px 0 30px;
  /* font-size: 16px; */
  color: #000;
  font-weight: 400;
}
.welcmtxt p .brek {
  display: block;
}
.welcmtxt .welcmemg {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupform {
  background: #fff;
  padding: 55px 15px;
}
.signupform h3 {
  /* font-size: 36px; */
  text-align: center;
  color: #2f5d62;
  font-weight: 700;
}
.signupform form label {
  font-weight: bold !important;
}
.signupform form {
  border-bottom: solid 1px #999999;
  padding: 50px 50px 40px;
}
.signupform form .form-group {
  margin-bottom: 30px;
}
.signupform form .form-control {
  height: 60px;
  border-radius: 8px;
  border: solid 1px #898989;
  width: 100%;
}
.signupform form .form-control::placeholder {
  color: #898989;
}
.signupform form .btn {
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  background: #05a401;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 400;
  border: solid 1px #05a401;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  font-weight: bold;
}
.signupform form .btn:hover {
  background: none;
  color: #05a401;
}

.signupform form p {
  opacity: 0.6;
}
.signupform form p a {
  opacity: 1;
  font-weight: bold;
  margin-left: 10px;
}
.signupform form p {
  margin-top: 15px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.signupform form p a {
  color: #05a401;
}
.signupform form .kooplognfrgtpswd {
  /* margin: 15px 0 15px; */
}
.signupform form .kooplognfrgtpswd .forgtpopop a {
  font-size: 16px;
  color: #05a401;
  font-weight: 400;
}
.signupform form .kooplognfrgtpswd label {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.signupform .socilist h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 400;
  margin: -10px auto 0;
  background: #fff;
  width: 60px;
  text-align: center;
}
.signupform .socilist ul {
  text-align: center;
  margin-top: 25px;
}
.signupform .socilist ul li {
  display: inline-block;
  margin: 0 15px;
}
.signupform .socilist ul li a {
  font-size: 20px;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  /* border: solid 1px #898989; */
  color: #898989;
  border-radius: 100px;
  text-decoration: none;
}
.signupform .socilist ul li a:hover {
  /* background: #05a401; */
  /* color: #fff; */
}

.signupform .forget__password {
  text-align: right;
  background: transparent !important;
  border: none !important;
  color: #05a401 !important;
  font-size: 14px !important;
  text-transform: lowercase !important;
}
.signupform .forget__password:focus {
  outline: none !important;
  box-shadow: none !important;
}
.footer_scn {
  background: #121212;
  padding: 50px 0;
}
.fotertxt {
  text-align: center;
}
.fotertxt p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-top: 15px;
}
.fotertxt .fotrmnu {
  margin-bottom: 50px;
}
.fotertxt .fotrmnu li,
.fotertxt .fotrsocil li {
  display: inline-block;
  margin: 0 20px;
}
.fotertxt .fotrmnu li a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.fotertxt .fotrmnu li a:hover {
  color: #05a401;
}
.fotertxt .fotrsocil li a .fa {
  font-size: 24px;
  color: #fff;
}
.fotertxt .fotrsocil li a:hover .fa {
  color: #05a401;
}
.fotertxt.txtaligleft {
  text-align: left;
}
.fotertxt .fotradress li {
  margin: 0 0 10px;
}
.fotertxt .fotradress li a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.fotertxt .fotradress li a .fa {
  padding-right: 8px;
}
.fotertxt .fotradress li a:hover {
  color: #05a401;
}

/*--------dashboard---------*/
.inerpgenmidle_scn {
  padding: 100px 0 120px;
}
.middeleboxbg {
  box-shadow: 0 2px 20px #ebebeb;
  border-radius: 8px;
  background: #fff;
  padding: 50px 20px;
}
.dashboardpge {
  position: relative;
  padding: 0 40px;
}
.dashboardpge .dashearch {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
}
.dashboardpge .dashearch .form-control {
  box-shadow: none;
  height: 60px;
  background: #c8eed8;
  border: none;
}
.dashboardpge .dashearch .btn {
  box-shadow: none;
  background: none;
  outline: none;
  height: 60px;
  background: #c8eed8;
  font-size: 22px;
  padding: 15px 20px;
}
.dashtap .nav-tabs {
  border-bottom: none;
}
.dashtap .nav-tabs li {
  margin: 16px 30px;
}
.dashtap .nav-tabs li a {
  font-size: 20px;
  color: #000;
  padding: 8px 0;
  text-decoration: none;
}
.dashtap .bgr li a.active {
  color: #05a401;
  border-bottom: solid 3px #05a401;
}
.dashtap .tab-content {
  margin-top: 70px;
}
.dashtap .tab-content a {
  text-decoration: none;
}
.dashtap .dashtapcntnt {
  border-radius: 8px;
  border: solid 1px #05a401;
  background: #fff;
}
.dashtap .dashtapcntnt .dshicn {
  text-align: center;
  padding: 30px;
}
.dashtap .dashtapcntnt .dshicn img {
  width: 150px;
}
.dashtap .dashtapcntnt .dshicntxt {
  background: #c8eed8;
  border-radius: 0 0 8px 8px;
  padding: 15px 15px 8px;
}
.dashtap .dashtapcntnt .dshicntxt h4 {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}
.dashtap .dashtapcntnt .dshicntxt h3 {
  font-size: 30px;
  color: #000;
  font-weight: 400;
}
.dashhiredtap {
  border-radius: 8px;
  border: solid 1px #05a401;
  background: #fff;
  padding: 40px 30px 50px;
}
.dashhiredtap h3 {
  font-size: 32px;
  color: #000;
  font-weight: 700;
}
.dashhiredtap .media {
  margin: 34px 0;
}
.dashhiredtap .media img {
  width: 80px;
}
.dashhiredtap .media-body h4 {
  font-size: 24px;
  color: #000;
  font-weight: 500;
}
.dashhiredtap .media-body p {
  margin: 5px 0;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.dashhiredtap h5 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
.dashhiredtap h6 {
  margin: 8px 0 20px;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
.dashhiredtap .hiredbtn li {
  display: inline-block;
  margin-right: 20px;
}
.dashhiredtap .hiredbtn li a {
  display: block;
  border: solid 1px #05a401;
  background: #05a401;
  padding: 12px 20px 10px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
}
.dashhiredtap .hiredbtn li a:hover {
  background: none;
  color: #05a401;
}
.dashhiredtap .hiredbtn li:last-child a {
  background: none;
  border: none;
  color: #ff1919;
  font-weight: 500;
  border-radius: 0;
}

/*--------index---------*/
.banner_scn {
  background: url(./bannerbg.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  display: table;
  vertical-align: middle;
  height: 90vh;
  position: relative;
}
.dspltblecel {
  display: table-cell;
  vertical-align: middle;
}
.bannercntnt {
  text-align: center;
}
.bannercntnt h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  text-align: initial;
}
.bannercntnt h1 .brek {
  display: block;
}
.ar_img {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  text-align: center;
}
@media (max-width: 500px) {
  .banner_scn {
    background: url(./bannerbg.jpg) no-repeat;
    background-size: 110% 100%;
  }
}
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.compnydesntn_scn {
  padding: 80px 0;
}
.compnydesntn_scn h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
  color: #000;
  font-weight: 700;
}
.compnydesntn_scn h2 .brek {
  display: block;
}
.comdes_cntnt {
  text-align: center;
  margin: 15px 0;
}
.comdes_cntnt .stdntmg {
  margin-bottom: 30px;
}
/* .comdes_cntnt .stdntmg img{ border-radius:5px; } */
.comdes_cntnt h3 {
  font-size: 30px;
  color: #000;
  font-weight: 700;
}
.comdes_cntnt p {
  padding: 15px 100px;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}
.comdes_cntnt a {
  font-size: 20px;
  color: #fff;
  border: solid 1px #05a401;
  background: #05a401;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 45px 9px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
}
.comdes_cntnt a:hover {
  background: none;
  color: #05a401;
}
.stdntmg img {
  width: 15rem;
  height: 15rem;
}

/*--------Personal info---------*/
.personalinfo {
  padding: 0 30px;
}
.personalinfo .prsnlinfo_box {
  padding: 0 0 20px;
  position: relative;
  border-radius: 8px;
  border: solid 1px #05a401;
  background: #fff;
  margin: 30px 0;
}
.personalinfo .prsnlinfo_box h2 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  background: #c8eed8;
  border-radius: 8px;
  padding: 20px;
}
.green__background {
  background: #c8eed8;
}
.green__background button {
  background-color: #05a401;
  margin: 15px 15px;
  /* width: 10%; */
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
}
.green__background button:hover {
  background: none;
  border: 1px solid #05a401;
  color: #05a401;
}
.personalinfo .prsnlinfo_box .table {
  margin: 25px 15px;
}
.personalinfo .prsnlinfo_box .table th,
.personalinfo .prsnlinfo_box .table td {
  border-style: none;
  /* font-size: 18px; */
  padding: 3px 10px;
}
.personalinfo .prsnlinfo_box .infoimg {
  position: absolute;
  right: 50px;
  top: 115px;
}
.personalinfo .prsnlinfo_box .tablangulrtxt h3 {
  font-size: 28px;
  color: #000;
  font-weight: 700;
  background: #c8eed8;
  width: 40%;
  padding: 15px 20px;
  margin: 20px 0;
}
.personalinfo .prsnlinfo_box .tablbtn {
  /* padding: 0 25px 20px; */
}
.personalinfo .prsnlinfo_box .tablbtn a {
  text-decoration: none;
  /* display: inline-block; */
  border: solid 1px #05a401;
  background: #05a401;
  padding: 12px 20px 10px 10px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
}
.personalinfo .prsnlinfo_box .tablbtn a:hover {
  background: none;
  color: #05a401;
}

.certificate__btn {
  /* display: inline-block; */
  border: solid 1px #05a401;
  background: #05a401;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px 20px;
}
/*--------profile2-1 info---------*/
.profilepage .profilemgbox {
  width: 50%;
  margin: 0 auto;
}
.profilcntnt {
  text-align: center;
}
.profilcntnt h2 {
  font-size: 28px;
  color: #000;
  font-weight: 700;
}
.profilcntnt .usericn {
  margin: 30px 0;
}
.profilcntnt .usericn .fa {
  height: 105px;
  width: 105px;
  line-height: 105px;
  font-size: 60px;
  color: #82d180;
  border: solid 2px #82d180;
  text-align: center;
  border-radius: 100px;
}
.profilcntnt form {
  padding: 30px;
}
.profilcntnt form .custom-file-label {
  border: solid 2px #82d180;
  padding: 18px 50px;
  border-radius: 5px;
  height: 60px;
}
.profilcntnt form .custom-file-input {
  border: solid 2px #82d180;
  height: 60px;
}
.profilcntnt form .custom-file-label::after {
  padding: 8px 30px;
  right: auto;
  left: 15px;
  background: #c8eed9;
  border: none;
  top: 10px;
  border-radius: 5px;
}
.profilcntnt form .btn {
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  background: #05a401;
  color: #fff;
  border-radius: 5px;
  padding: 11px 15px 8px;
  font-size: 20px;
  font-weight: 400;
  border: solid 1px #05a401;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  margin-top: 35px;
  font-weight: 700;
}
.profilcntnt form .btn:hover {
  background: none;
  color: #05a401;
}

/*--------company detail---------*/
.compnydtal_pge .compnydtalbox {
  width: 80%;
  margin: 0 auto;
  padding: 80px 40px 50px;
}
.compnydtalfrm h2 {
  padding-bottom: 70px;
  font-size: 36px;
  color: #000;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.compnydtalfrm h2:before {
  position: absolute;
  left: 0;
  top: -44px;
  content: "";
  background: url(./placeholer.jpg) left top no-repeat;
  width: 180px;
  height: 180px;
  background-size: 130px;
}
.compnydtalfrm form .form-control {
  height: 54px;
  border: solid 1px #898989;
  font-size: 16px;
}
.compnydtalfrm form .btn {
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  background: #05a401;
  color: #fff;
  border-radius: 5px;
  padding: 11px 15px 8px;
  font-size: 20px;
  font-weight: 400;
  border: solid 1px #05a401;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  margin-top: 35px;
  font-weight: 700;
}
.compnydtalfrm form .btn:hover {
  background: none;
  color: #05a401;
}
.compnydtalfrm .iti {
  display: block !important;
}

/***profile**/
.profile {
  display: flex;
}
.profile .col4 {
  max-width: 30%;
  padding: 0px 5px;
  flex: 30%;
}
.profile .col8 {
  max-width: 70%;
  padding: 0px 5px;
  flex: 30%;
}
.profile_input {
  display: flex;
}
.profile_input label {
  font-weight: bold;
}
.profile_input .col6 {
  max-width: 50%;
  flex: 50%;
  padding: 10px 5px;
}
.profile_input .col9 {
  max-width: 80%;
  flex: 80%;
  padding: 10px 5px;
}
.profile_input .col3 {
  max-width: 20%;
  flex: 20%;
  padding: 10px 5px;
}
.profile_input .col12 {
  max-width: 100%;
  flex: 100%;
  padding: 5px 5px;
}
.head_prof h1 {
  font-size: 22px;
  color: #000;
  padding: 10px 5px 20px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.head_prof h1::after {
  content: "";
  height: 5px;
  width: 50%;
  background: #05a401;
  position: absolute;
  left: calc(50%);
  bottom: -5px;
  margin-top: 30px;
}
.profile_input .form-control {
  border: 1px solid #a3a3a3;
  outline: none;
  box-shadow: none;
  height: 48px;
  font-size: 15px;
  border-radius: 10px;
  margin: 4px 0px;
}
.profile_input h6 {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0px;
}
.profile_input label {
  padding: 5px;
  font-size: 15px;
}
.profile_input textarea.form-control {
  height: 120px;
}
.profile_input .btn {
  background: #05a401;
  border: 1px solid #05a401;
  border-radius: 10px;
  width: 200px;
  color: #fff;
  padding: 10px 0px;
  display: block;
  margin: 30px auto;
}
.profile_input .btn:hover {
  color: #05a401;
  background: #fff;
}
.list_text ul li {
  padding: 8px;
  height: 150px;
  position: relative;
}
.list_text ul li a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
}
.list_text ul li a span {
  border: 1px solid #05a401;
  color: #05a401;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-block;
  text-align: center;
  padding: 1px 0px;
  margin-right: 7px;
  -webkit-transition-duration: 0.3s;
}
.list_text ul li a:hover {
  color: #05a401;
}
.list_text ul li a:hover span {
  background: #05a401;
  color: #fff;
}
.list_text ul li:before {
  background: #c8eed9;
  width: 6px;
  height: 73%;
  border-radius: 10px;
  content: "";
  position: absolute;
  left: 18px;
  top: 42px;
}
.list_text ul li:last-child:before {
  display: none;
}
.list_text ul li.colr a {
  color: #05a401;
}
.list_text ul li.colr:before {
  background: #05a401;
}
.list_text ul li.active:before {
  background: #c8eed9;
}

.list_text ul li.colr a span {
  background: #05a401;
  color: #fff;
}
.list_text {
  padding: 15px 0px 0px;
}
.list_text ul li.active a {
  color: #05a401;
}
.list_text ul li.active a span {
  background: #05a401;
  color: #fff;
}
.eduction_box h2 {
  background: #c8eed9;
  padding: 20px 15px;
  color: #000;
  font-size: 20px;
  border-radius: 5px 5px 20px 20px;
}
.modal-body {
  padding: 0px;
}
.eduction_box {
  background: #fff;
  border-radius: 15px;
}
.input_boxsel {
  padding: 15px;
}
.input_boxsel .form-control {
  border: 1px solid #a3a3a3;
  outline: none;
  box-shadow: none;
  height: 45px;
  font-size: 15px;
  border-radius: 6px;
  margin: 7px 0px;
}
.input_boxsel select.form-control:not([size]):not([multiple]) {
  height: 45px;
}
.input_boxsel.profile_input {
  display: block;
}
.profile_input .btne {
  color: #404040;
  background: #fff;
  border: 2px dashed #737373;
  border-radius: 10px;
  font-size: 25px;
  height: 200px;
  width: 200px;
  margin: 120px auto 10px;
  box-shadow: none;
  outline: none;
}
.profile_input .btne:hover {
  color: #404040;
}
.profile_input h5 {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0px 100px;
  text-align: center;
  color: #696969;
}
.assent_box {
  width: 80%;
  margin: 40px 0px;
}
.assent_box ul li {
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.assent_box ul li a {
  float: right;
  color: #ff0000;
}
.cost_text ul {
  border: 1px solid #05a401;
  border-radius: 10px;
}
.cost_text {
  width: 450px;
  padding: 150px 0px;
}
.cost_text ul li {
  padding: 12px 12px;
  font-size: 17px;
}
.cost_text ul li span {
  float: right;
}
.cost_text ul li.tatl {
  background: #c8eed9;
  border-radius: 10px 10px 10px 10px;
  font-weight: 600;
}
.btnoe .btn {
  background: #05a401;
  border: 1px solid #05a401;
  border-radius: 10px;
  width: auto;
  color: #fff;
  padding: 10px 20px;
  display: block;
  margin: 30px 0px;
}
.btnoe .btn:hover {
  color: #05a401;
  background: #fff;
}

/* ALERT MESSAGE */
.alertmsg {
  padding: 10px;
  background: #05a401;
  margin: 10px 0;
  border-radius: 8px;
}
.alertmsg h3 {
  font-size: 1rem;
  color: #fff;
}
/* SOCIAL CONTACT */
.social-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-grid {
  display: grid;
  grid-template-columns: repeat(2, 4rem);
  grid-gap: 5px;
}
.shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.social-icons i {
  transition: all 0.4s ease-in-out;
}
.social-icons:nth-child(1):hover i {
  color: #0d8cf0;
}
.social-icons:nth-child(2):hover i {
  color: #e1306c;
}
.social-icons:nth-child(3):hover i {
  color: #0a66c2;
}
.social-icons:nth-child(4):hover i {
  color: #1da1f2;
}

@media (max-width: 500px) {
  .social-grid {
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-gap: 5px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
  /*--------index---------*/
  .banner_scn {
    height: 90%;
  }
  .bannercntnt h1 {
    font-size: 60px;
  }
  .compnydesntn_scn h2 {
    font-size: 40px;
  }

  /*--------profile2-1 info---------*/
  .profilepage .profilemgbox {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .topnavscrle .navbar .navbar-brand img {
    width: 250px;
  }
  .topnavscrle .navbar .navbar-nav li {
    margin: 0 8px;
  }
  .topnavscrle .navbar .navbar-nav li .nav-link {
    padding: 0px;
    font-size: 14px;
  }
  .topnavscrle .navbar .navbar-nav .btnlist {
    margin: -14px 0 0 12px;
  }
  .topnavscrle .navbar .navbar-nav .btnlist a {
    padding: 12px 20px 9px;
    font-size: 14px;
  }
  /*--------sign in---------*/
  .signinmidle_scn {
    padding: 60px 0 80px;
  }
  .welcmebckall .welcmtxt {
    padding: 20px;
  }
  .welcmtxt h1 {
    font-size: 32px;
  }
  .signupform h2 {
    font-size: 30px;
  }
  .signupform form {
    padding: 40px 10px 40px;
  }
  .signupform form .form-control {
    height: 50px;
  }
  .signupform form .btn {
    height: 50px;
  }
  .fotertxt .fotrmnu {
    margin-bottom: 30px;
  }
  .fotertxt .fotrmnu li,
  .fotertxt .fotrsocil li {
    margin: 0 10px;
  }
  .fotertxt .fotrmnu li a,
  .fotertxt p,
  .fotertxt .fotradress li a {
    font-size: 14px;
  }
  .fotertxt .fotrsocil li a .fa {
    font-size: 20px;
  }

  /*--------dashboard---------*/
  .inerpgenmidle_scn {
    padding: 60px 0 80px;
  }
  .dashboardpge {
    position: relative;
    padding: 0 0px;
  }
  .dashtap .nav-tabs li a {
    font-size: 17px;
  }
  .dashtap .nav-tabs li {
    margin: 16px 20px;
  }
  .dashtap .dashtapcntnt .dshicntxt h4 {
    font-size: 18px;
  }
  .dashtap .dashtapcntnt .dshicntxt h3 {
    font-size: 25px;
  }
  .dashhiredtap h3 {
    font-size: 28px;
  }
  .dashhiredtap .media-body h4 {
    font-size: 22px;
  }
  .dashboardpge .dashearch {
    width: 320px;
  }

  /*--------index---------*/
  .banner_scn {
    height: 90%;
  }
  .bannercntnt h1 {
    font-size: 50px;
  }
  .compnydesntn_scn h2 {
    font-size: 32px;
  }
  .comdes_cntnt p {
    padding: 15px 40px;
  }
  .compnydesntn_scn {
    padding: 70px 0;
  }

  /*--------Personal info---------*/
  .personalinfo {
    padding: 0;
  }
  .personalinfo .prsnlinfo_box {
    margin: 25px 0;
  }
  .personalinfo .prsnlinfo_box h2,
  .personalinfo .prsnlinfo_box .tablangulrtxt h3 {
    font-size: 24px;
  }
  .personalinfo .prsnlinfo_box .tablbtn a {
    font-size: 16px;
  }
  .personalinfo .prsnlinfo_box .infoimg {
    right: 30px;
    top: 75px;
  }
  .personalinfopage .middeleboxbg {
    padding: 40px 20px 40px;
  }

  /*--------profile2-1 info---------*/
  .profilepage .profilemgbox {
    width: 70%;
  }

  /*--------company detail---------*/
  .compnydtal_pge .compnydtalbox {
    width: 90%;
  }
  .compnydtalfrm h2 {
    font-size: 32px;
  }
  .compnydtalfrm h2:before {
    background-size: 80px;
  }

  .profile {
    display: block;
  }
  .profile .col4 {
    max-width: 100%;
  }
  .profile .col8 {
    max-width: 100%;
  }
  .list_text ul {
    display: flex;
  }
  .list_text ul li {
    max-width: 33.33%;
    flex: 33.33%;
    height: auto;
    padding: 15px 0px;
  }
  .list_text ul li:before {
    background: #c8eed9;
    width: 25%;
    height: 6px;
    border-radius: 10px;
    content: "";
    position: absolute;
    left: 18px;
    top: 42px;
    display: none;
  }

  .profile_input .btne {
    margin: 30px auto 5px;
  }
  .profile_input h5 {
    padding: 10px 0px;
  }
}

@media (max-width: 767px) {
  .header_all .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .topnavscrle .navbar {
    margin: 0;
    padding: 8px 0 8px;
  }
  .topnavscrle .navbar .navbar-brand {
    margin: 0;
  }
  .topnavscrle .navbar .navbar-brand img {
    width: 180px;
  }
  .topnavscrle .navbar .navbar-toggler {
    outline: none;
    border: none;
    background: #05a401;
  }
  .topnavscrle .navbar .navbar-nav {
    border-top: solid 1px #ddd;
    padding: 15px 0 10px;
    margin: 25px 0 0;
  }
  .topnavscrle .navbar .navbar-nav li {
    margin: 0 2px;
  }
  .topnavscrle .navbar .navbar-nav li .nav-link {
    padding: 6px 0;
    font-size: 14px;
  }
  .topnavscrle .navbar .navbar-nav .btnlist {
    margin: 10px 0 0 0;
  }
  .topnavscrle .navbar .navbar-nav .btnlist a {
    padding: 12px 20px 9px;
    font-size: 14px;
  }

  /*--------sign in---------*/
  .signinmidle_scn {
    padding: 40px 0 60px;
  }
  .welcmebckall .welcmtxt {
    display: inherit;
    height: auto;
    vertical-align: inherit;
    padding: 40px 15px 50px;
  }
  .welcmebckall .welcmtxt1 {
    display: inherit;
    vertical-align: inherit;
  }
  .welcmtxt .welcmemg img {
    width: 300px;
  }
  .welcmtxt h1 {
    font-size: 26px;
  }
  .welcmtxt p {
    font-size: 15px;
  }
  .signupform h2 {
    font-size: 26px;
  }
  .signupform form {
    padding: 24px 0px 40px;
  }
  .signupform form .form-control,
  #forgtmodel .form-group .form-control {
    font-size: 15px;
    height: 50px;
  }
  .signupform form .btn,
  #forgtmodel .btn {
    height: 50px;
  }
  .signupform .socilist ul li a {
    font-size: 20px;
    height: 44px;
    width: 44px;
    line-height: 44px;
  }
  .signupform form .kooplognfrgtpswd label,
  .signupform form .kooplognfrgtpswd .forgtpopop a,
  .signupform form p {
    font-size: 14px;
  }
  .footer_scn {
    padding: 30px 0 20px;
  }
  .fotertxt .fotrmnu {
    margin-bottom: 20px;
  }
  .fotertxt .fotrmnu li,
  .fotertxt .fotrsocil li {
    margin: 0 10px;
  }
  .fotertxt .fotrmnu li a,
  .fotertxt p,
  .fotertxt .fotradress li a {
    font-size: 14px;
  }
  .fotrlogo img {
    width: 250px;
  }
  .fotertxt.txtaligleft {
    text-align: center;
  }
  .fotertxt {
    margin: 15px 0;
  }
  .fotertxt .fotrsocil li a .fa {
    font-size: 20px;
  }
  #forgtmodel .modal-header h5 {
    font-size: 20px;
  }
  #forgtmodel .modal-dialog {
    margin-left: 15px;
  }

  /*--------dashboard---------*/
  .inerpgenmidle_scn {
    padding: 40px 0 60px;
  }
  .middeleboxbg {
    padding: 50px 20px 40px;
  }
  .dashboardpge {
    position: relative;
    padding: 0 0px;
  }
  .dashtap .nav-tabs li a {
    font-size: 15px;
  }
  .dashtap .nav-tabs li {
    margin: 16px 10px;
  }
  .dashtap .tab-content {
    margin-top: 50px;
  }
  .dashtap .dashtapcntnt .dshicntxt h4 {
    font-size: 13px;
  }
  .dashtap .dashtapcntnt .dshicntxt h3 {
    font-size: 20px;
  }
  .dashhiredtap h3 {
    font-size: 24px;
  }
  .dashhiredtap .media-body h4 {
    font-size: 18px;
  }
  .dashhiredtap .media-body p {
    font-size: 15px;
    margin: 5px 0;
  }
  .dashboardpge .dashearch {
    width: 220px;
  }
  .dashboardpge .dashearch .form-control {
    height: 50px;
  }
  .dashboardpge .dashearch .btn {
    height: 50px;
    padding: 9px 20px;
  }
  .dashhiredtap .hiredbtn li a {
    padding: 12px 15px 10px;
    font-size: 15px;
  }
  .dashhiredtap .hiredbtn li {
    margin-right: 10px;
  }

  /*--------index---------*/
  .banner_scn {
    height: auto;
    padding: 200px 0;
    display: inherit;
    vertical-align: inherit;
  }
  .dspltblecel {
    display: inherit;
    vertical-align: inherit;
  }
  .bannercntnt h1 {
    font-size: 30px;
  }
  .bannercntnt h1 .brek,
  .compnydesntn_scn h2 .brek {
    display: inline-block;
  }
  .ar_img .hvr-hang img {
    width: 30px;
  }
  .compnydesntn_scn h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .comdes_cntnt p {
    font-size: 16px;
    padding: 15px 0px;
  }
  .compnydesntn_scn {
    padding: 50px 0;
  }
  .comdes_cntnt h3 {
    font-size: 26px;
  }
  .comdes_cntnt a {
    font-size: 17px;
    padding: 12px 35px 10px;
  }

  /*--------Personal info---------*/
  .personalinfo {
    padding: 0;
  }
  .personalinfo .prsnlinfo_box {
    margin: 25px 0;
  }
  .personalinfo .prsnlinfo_box h2,
  .personalinfo .prsnlinfo_box .tablangulrtxt h3 {
    font-size: 20px;
  }
  .personalinfo .prsnlinfo_box .tablangulrtxt h3 {
    width: 80%;
  }
  .personalinfo .prsnlinfo_box .tablbtn a {
    padding: 11px 15px 9px;
    font-size: 16px;
  }
  .personalinfo .prsnlinfo_box .infoimg {
    right: 20px;
    top: 95px;
  }
  .personalinfo .prsnlinfo_box .infoimg img {
    width: 80px;
  }
  .personalinfo .prsnlinfo_box .table th,
  .personalinfo .prsnlinfo_box .table td {
    font-size: 16px;
  }
  .personalinfo .prsnlinfo_box .tablbtn {
    padding: 0 15px 20px;
  }
  .personalinfopage .middeleboxbg {
    padding: 30px 15px 30px;
  }

  /*--------profile2-1 info---------*/
  .profilepage .profilemgbox {
    width: 85%;
  }
  .profilcntnt h2 {
    font-size: 20px;
  }
  .profilcntnt form {
    padding: 20px 20px 10px;
  }
  .profilcntnt .usericn .fa {
    height: 95px;
    width: 95px;
    font-size: 50px;
    line-height: 95px;
  }
  .profilcntnt form .btn {
    height: 54px;
    padding: 10px 15px 7px;
    font-size: 18px;
  }
  .profilcntnt form .custom-file-label {
    padding: 15px;
    height: 54px;
  }
  .profilcntnt form .custom-file-label::after {
    top: 7px;
  }

  /*--------company detail---------*/
  .compnydtal_pge .compnydtalbox {
    padding: 70px 20px 40px;
    width: 100%;
  }
  .compnydtalfrm h2 {
    padding-bottom: 60px;
    font-size: 26px;
  }
  .compnydtalfrm h2:before {
    top: -36px;
    background-size: 70px;
  }
  .compnydtalfrm form .btn {
    height: 54px;
    margin-top: 20px;
    padding: 11px 15px 9px;
    font-size: 18px;
  }
  .compnydtalfrm form .form-control {
    height: 50px;
  }

  .profile {
    display: block;
  }
  .profile .col4 {
    max-width: 100%;
  }
  .profile .col8 {
    max-width: 100%;
  }
  .list_text ul {
    display: flex;
  }
  .list_text ul li {
    max-width: 33.33%;
    flex: 33.33%;
    height: auto;
    padding: 15px 0px;
  }
  .list_text ul li:before {
    background: #c8eed9;
    width: 25%;
    height: 6px;
    border-radius: 10px;
    content: "";
    position: absolute;
    left: 18px;
    top: 42px;
    display: none;
  }
  .profile_input .col6 {
    max-width: 100%;
    flex: 100%;
  }
  .profile_input {
    display: block;
  }
  .profile_input .col6 {
    padding: 3px 0px;
  }
  .profile_input .col12 {
    padding: 3px 0px;
  }
  .head_prof h1 {
    font-size: 18px;
    padding: 14px 0px;
  }
  .profile_input .btn {
    margin: 15px auto 0px;
  }
  .middeleboxbg {
    padding: 20px 15px;
  }

  .profile_input .btne {
    margin: 30px auto 5px;
  }
  .profile_input h5 {
    padding: 10px 0px;
  }
  .cost_text {
    width: 100%;
    padding: 10px 0px;
  }
  .cost_text ul li {
    font-size: 14px;
  }
  .btnoe .btn {
    display: block;
    width: 100%;
    font-size: 14px;
  }
  .assent_box {
    width: 100%;
    margin: 10px 0px;
  }
  .assent_box ul li {
    font-size: 14px;
  }
  .assent_box ul li a {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  /*--------dashboard---------*/
  .dashboardpge .dashearch {
    position: inherit;
    top: auto;
    right: auto;
    width: 100%;
    margin-bottom: 15px;
  }
  .dashtap .dashtapcntnt {
    margin: 15px 0;
  }
  .dashtap .dashtapcntnt .dshicn {
    padding: 20px;
  }
  .dashtap .dashtapcntnt .dshicn img {
    width: 130px;
  }
  .dashtap .tab-content {
    margin-top: 30px;
  }
  .dashhiredtap .hiredbtn li {
    margin: 10px 0;
    display: block;
  }
  .dashhiredtap {
    padding: 40px 20px 30px;
  }

  /*--------profile2-1 info---------*/
  .profilepage .profilemgbox {
    width: 100%;
  }
  .profilcntnt form .custom-file-label {
    text-align: right;
  }
  .profilcntnt form .custom-file-label::after {
    padding: 10px;
    left: 8px;
    font-size: 13px;
  }
  .profilcntnt form {
    padding: 20px 0px 10px;
  }

  .list_text ul li {
    max-width: 50%;
    flex: 50%;
  }
  .list_text ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  /*--------index---------*/
  .bannercntnt h1,
  .compnydesntn_scn h2 {
    font-size: 22px;
  }

  /*--------company detail---------*/
  .compnydtalfrm h2 {
    padding: 50px 0 40px;
    font-size: 26px;
  }
  .compnydtalfrm h2:before {
    top: -30px;
    left: 0;
    right: 0;
    background-size: 60px;
    width: 100%;
    background-position: top center;
  }

  /*--------Personal info---------*/
  .personalinfo .prsnlinfo_box .infoimg {
    right: 14px;
    top: 85px;
  }
  .personalinfo .prsnlinfo_box .infoimg img {
    width: 60px;
  }
  .personalinfo .prsnlinfo_box .table th,
  .personalinfo .prsnlinfo_box .table td {
    font-size: 14px;
  }
  .personalinfo .prsnlinfo_box .table {
    margin: 25px 4px;
  }
  .personalinfo .prsnlinfo_box .tablangulrtxt h3 {
    width: 100%;
  }
}

@media (max-width: 500px) {
}

@media (max-width: 360px) {
}

/* RAZORPAY */
.razorpay[data-buttontext] {
  color: #fff;
  background-color: #05a401;
}
/* INPUT */
input:focus {
  outline: none;

  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.coupon {
  display: flex;
  justify-content: space-between;
}
.coupon button {
  color: #fff;
  background-color: #05a401;
  padding: 8px 10px;
  border-radius: 12px;
}
/* OFFER */
.offer {
  text-align: left;
  margin: 20px 0;
}
.offer h4 {
  display: inline-block;
  color: #fff;
  padding: 20px;
  background: #1d600f;
  border: 1px solid #1d600f;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .offer {
    margin: 15px 0;
  }
  .offer h4 {
    font-size: 1.1rem;
    display: inline-block;
    color: #fff;
    padding: 15px;
    background: #1d600f;
    border: 1px solid #1d600f;
    border-radius: 50px;
  }
}
@media (max-width: 500px) {
  .offer {
    margin: 10px 0;
  }
  .offer h4 {
    font-size: 0.8rem;
    display: inline-block;
    color: #fff;
    padding: 10px;
    background: #1d600f;
    border: 1px solid #1d600f;
    border-radius: 50px;
  }
}
/* PROFILE PIC */
.profile-pic {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 40px;
}
.profile-pic img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
/* DASHBOARD_PIC */
.dashboard-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.dashboard-pic img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
@media (max-width: 768px) {
  .dashboard-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
@media (max-width: 500px) {
  .dashboard-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
.price-table {
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 20px;
}

/* MAP */
.circleicn_scn {
  padding: 80px 0 30px;
}
.fourimgs {
  text-align: center;
  margin: 15px 0;
}
.fourimgs .imgpart {
  position: relative;
  background: #ebf7eb;
  width: 140px;
  height: 140px;
  line-height: 140px;
  border-radius: 100px;
  text-align: center;
  margin: 0 auto;
}
.fourimgs:before {
  position: absolute;
  right: 0;
  top: 80px;
  height: 22px;
  width: 11px;
  content: "";
}
.fourimgs .imgpart img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.fourimgs .imgpart:hover img {
  webkit-transform: scale(1.08);
  transform: scale(1.07);
}
.fourimgs h3 {
  font-weight: 500;
  padding: 20px 0 10px;
  font-size: 18px;
  color: #333;
}
.arownone1:before {
  display: none;
}

/* SUCHITRA CSS */
/* Banner (Suchitra) */
.banner__section {
  background: url(./banner.png);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner__para {
  display: grid;
  place-content: center;
  height: 90vh;
  color: #ffffff;
}
.banner__para p {
  font-size: 72px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.process__section {
  padding-top: 80px;
}
.process__section h4 {
  color: #05a401;
  font-weight: bold;
}
.process__section p {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
}

.icon__section p {
  color: #05a401;
  font-weight: bold;
  font-size: 14px;
}
.icon__section h6 {
  font-weight: normal;
  opacity: 0.8 !important;
}
.counts__section {
  background-color: #2f5d62;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ffffff;
  margin-top: 100px;
}
.student_scouts_sections h5 {
  color: #2f5d62;
  font-weight: bold;
}
.student_scouts_sections p {
  opacity: 0.6;
  font-size: 15px;
  width: 80%;
  display: block;
  margin: auto;
}
.student_scouts_sections .btn {
  background-color: #05a401;
  padding: 8px 50px;
  border-radius: 50px;
  display: block;
  margin: auto;
  color: #ffffff !important;
  font-weight: bold;
  font-size: 14px;
}
.footer__section {
  background-color: #121212;
}
.footer_link {
  color: #ffffff;
  opacity: 0.8;
  line-height: 2;
}
.footer__social__icon img {
  margin-right: 50px;
}
.contact__btn__navbar {
  background-color: #05a401;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px 30px;
}
.footer_mail {
  color: #ffffff;
}
.forgetPass__modal .modal-header {
  border: none !important;
}
.forgetPass__modal .modal-body p {
  opacity: 0.6;
}
.forgetPass__modal .modal-body label {
  font-weight: 600 !important;
  font-size: 14px;
}
.forgetPass__modal .modal-body input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #000000, 0.3;
}

.forgetPass__modal .modal-body input::placeholder {
  color: #000;
  opacity: 0.32;
  font-size: 14px;
}
.forgetPass__modal {
  padding: 0 !important;
}
.forgetPass__modal .cancel__btn {
  border: 2px solid #05a401;
  color: #05a401;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.forgetPass__modal .submit__btn {
  background-color: #05a401;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.aboutUs__section h3 {
  font-weight: bold;
}
.aboutUs__section p {
  line-height: 1.8;
  opacity: 0.8;
}
.mission__vision__section .mission__vision {
  background-color: rgba(5, 164, 1, 0.06);
  padding-top: 80px;
  padding-bottom: 80px;
}

.mission__vision__section .mission__vision .vision {
  margin-left: 30px;
}
.ourTeam__section h3 {
  display: inline-block;
  position: relative;
  font-weight: bold;
}
.ourTeam__section h3::after {
  content: "";
  height: 5px;
  width: 50%;
  background: #05a401;
  position: absolute;
  left: calc(50%);
  bottom: -5px;
  margin-top: 30px;
}
.ourTeam__section p {
  opacity: 0.6;
}

.ourTeam__section .card {
  border: none !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width: 600px) {
  .banner__para p {
    font-size: 28px;
  }
  .footer__link__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__social__icon,
  .footer_mail {
    display: flex;
    justify-content: center;
    color: #ffffff;
  }
  .mission__vision__section .mission__vision .vision {
    margin-left: 0px !important;
  }
}
.contact_modal h2 {
  font-weight: bold !important;
}

.contact_modal .modal-body {
  padding-left: 20px;
  padding-right: 20px;
}

.contact_modal .modal-body form .form-control {
  height: 60px;
  border-radius: 8px;
  border: solid 1px #898989;
  width: 100%;
}

.contact_modal .modal-body form label {
  font-weight: bold;
}

.contact_modal .modal-body form button {
  display: inline-block;
  width: 100%;
  background: #05a401;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 400;
  border: solid 1px #05a401;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  font-weight: bold;
}
